<footer>
    <p>Derechos de autor © 2023 Richard. Todos los derechos reservados.</p>

    <div class="email-container">
        <i class="far fa-envelope"></i>
        <a href="richarlopez@unitec.edu">Contactame</a>
      </div>

    
  </footer>

  <div class="social-links">
    <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
    <a href="https://facebook.com"><i class="fab fa-facebook"></i></a>
    <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
    <a href="https://linkedin.com"><i class="fab fa-linkedin"></i></a>
  </div>
 
  


